[Unit]
Description=Paykiosk Emulation Service
#Wants=webkassa.service
#After=network.target webkassa.service

[Service]
Type=simple
User=rost
WorkingDirectory=/home/rost/Development/emulator-async
ExecStart=/usr/bin/python3 -m src.main
Restart=on-abnormal
Environment="PYTHONPATH=${PYTHONPATH}:/home/rost/Development/emulator-async"
StandardOutput=journal
StandardError=journal
StartLimitInterval=10
KillMode=mixed

[Install]
WantedBy=multi-user.target

